<div class="stage_box">
    <h2>Stage: {{data.stage}} | Win: {{data.win}}</h2>
    {{#each data.champions}}
        <div>
            <img src="images/champions/{{this.name}}.png" />
            <h4>{{this.name}} | Level: {{this.level}}</h4>
            <p>Damage: {{this.damage}}</p>
        </div>
    {{/each}}
    <div class="healthbar" style="width: {{data.health}}%; background-color: {{data.health_color}};">
      {{data.health}}
    </div>
</div>