<div class="stage_box {{#if data.win}}win-bg{{else}}lose-bg{{/if}}">
    <div class="header">
        <div class="level">
            <h2><small>LVL</small>{{data.stage}}</h2>
        </div>
        <div class="result">
            {{#if data.win}}
            <i class="fa fa-check" aria-hidden="true"></i>
            {{else}}
            <i class="fa fa-times" aria-hidden="true"></i>
            {{/if}}
        </div>
    </div>
    <div class="champions">
    {{#each data.champions}}
        <div class="champion" style="{{this.styles}}"></div>
    {{/each}}
    </div>
    <div class="healthbar" style="width: {{data.health}}%; background-color: {{data.health_color}};">
      {{data.health}}
    </div>
</div>